@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');
body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
}

p {
    text-align: center;
    font-size: 0.8em;
    font-family: Roboto, sans-serif;
    font-style: italic;
    font-weight: 300;
}

.col {
    text-align: center;
}

.card-title {
    text-align: center;
}

a .fab {
    color: black;
}

a:hover .fab {
    transform: scale(1.3);
}
