p {
    text-align: center;
    font-size: 0.8em;
}

.col {
    text-align: center;
}

.card-title {
    text-align: center;
}

a .fab {
    color: black;
}

a:hover .fab {
    transform: scale(1.3);
}

body {
    height: 100vh;
}